version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps"
    open-pull-requests-limit: 5
    allow:
      - dependency-type: "direct"
    ignore:
      - dependency-name: "protobuf"
        versions: [">=5"]
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
